<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="content-type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="动力金融网，投资理财，P2P理财，互联网金融，投资理财，理财，网络贷款，个人贷款，小额贷款，网络投融资平台, 网络理财, 固定收益, 100%本息保障" name="keywords"/>
    <meta content="动力金融网-专业的互联网金融平台！预期年化收益可高达13%，第三方资金托管，屡获大奖。" name="description"/>
    <title>动力金融网-专业的互联网金融公司</title>
    <link rel="stylesheet" th:href="@{/css/center.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/fund-guanli.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/base.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/security.css}" type="text/css"/>
    <script language="javascript" th:src="@{/js/jquery-1.7.2.min.js}" type="text/javascript"></script>
    <script language="javascript" th:src="@{/js/trafficStatistics.js}" type="text/javascript"></script>
    <script type="text/javascript">
        let payTag
        let rootPath = document.location.origin

        $(document).ready(function () {
            $("#overView").removeClass("on");
            $("#myAccount").addClass("on");
            $('#chongzhi').addClass('on');
            //选择第三种支付方式
            $('#alipay').click(function () {
                payTag = 0
                $(this).addClass('img_on').append("<i></i>");
                $(this).parent().siblings().children().removeClass('img_on');
            });
            $('#weixinpay').click(function () {
                payTag = 1
                $(this).addClass('img_on').append("<i></i>");
                $(this).parent().siblings().children().removeClass('img_on');
            });
        });

        function checkData() {
            var alipay = $("#alipay").hasClass("img_on");
            var weixinpay = $("#weixinpay").hasClass("img_on");
            if (alipay === false && weixinpay === false) {
                $("#p1_1").html("请选择支付平台");
                $(".input_text").addClass("input-red");
                $("#div1_1").show();
                return false;
            }
            var doubleType = /^-?\d+\.?\d{0,3}$/;
            var rechargeMoney = $("#rechargeMoney").val();
            if (rechargeMoney == "") {
                $("#p1_1").html("请输入充值金额");
                $(".input_text").addClass("input-red");
                $("#div1_1").show();
                return false;
            } else if (!doubleType.test(rechargeMoney)) {
                $("#p1_1").html("充值金额最多有两位小数");
                $(".input_text").addClass("input-red");
                $("#div1_1").show();
                return false;
            } else {
                $(".input_text").removeClass("input-red");
                $("#div1_1").hide();
                return true;
            }
        }

        //提交表单前验证表单数据
        function submitForm() {

            if (checkData()) {
                let form = $("#rechargeForm")
                $(".input_text").removeClass("input-red");
                $("#div1_1").hide();
                $("#dialog-overlay").show();
                $("#failurePayment").show();
                console.log("payTag = " + payTag)
                if (payTag === 0) {
                    form.get(0).action = rootPath + "/loan/page/alipay";
                }
                if (payTag === 1) {
                    form.get(0).action = rootPath + "/loan/page/wechat";
                }
                $("#rootPath").val(rootPath)
                form.submit()

            }
        }
    </script>
</head>

<body>
<!--页头start-->
<div id="header">
    <div th:include="commons/header :: html"></div>
</div>
<!--页头end-->

<!-- 二级导航栏start -->
<div th:include="commons/subNav :: html"></div>
<!-- 二级导航栏end -->

<!--页中start-->
<div class="mainBox">
    <div class="homeWap">
        <div class="fund-guanli clearfix">
            <div class="left-nav">
                <div th:include="commons/leftNav :: html"></div>
            </div>

            <div class="right-body">
                <div class="leftTitle"><span class="on">第三方支付平台</span></div>

                <!--未认证start-->
                <!--<div class="unrecognized" style="display:block;" id="unrecognized1">
                    <h3>您尚未通过实名认证，通过实名认证后可进行充值操作</h3>
                    <a class="input_btn" th:href="@{/loan/page/realName}">认 证</a>
                </div>-->
                <!--未认证end-->

                <!-- 充值start -->
                <form id="rechargeForm" method="post" target="_blank" th:action="@{/loan/toRecharge}">
                    <input id="rootPath" name="rootPath" type="hidden"/>
                    <div class="payInvest" style="display:block;">
                        <div class="investMain">
                            <h3>请选择支付平台</h3>
                            <div class="investContent">
                                <div class="investOver clearfix" id="banks2">
                                    <label>
                                        <div class="img_cnt" id="alipay">
                                            <img th:src="@{/images/alipay.jpg}"/>
                                        </div>
                                    </label>
                                    <label>
                                        <div class="img_cnt" id="weixinpay">
                                            <img th:src="@{/images/weixinpay.jpg}"/>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="investFooter clearfix">
                            <h3>请输入充值金额</h3>
                            <div class="inputTxt">
                                <input class="input_text" id="rechargeMoney" name="rechargeMoney" onblur="checkData()"
                                       type="text" value=""/>
                                <span class="input-yuan">元</span>
                                <div class="error-hint" id="div1_1" style="display:none"><i></i>
                                    <p id="p1_1">充值金额必须是大于1的正数，且最多有两位小数</p></div>
                            </div>
                            <button id="action_1" onclick="submitForm()" type="button">支&nbsp;&nbsp;付</button>
                        </div>
                        <div class="tips">
                            <h3>温馨提示</h3>
                            <p>1. 为了您的使用安全，充值操作建议不要使用公共电脑。<br/>
                                2. 银行卡充值限额，由各银行限制。<br/>
                                3. 平台禁止信用卡套现、虚假交易、洗钱等行为，一经发现并确认，将终止该账户的使用。<br/>
                                4. 如果充值中出现问题，请联系客服400-890-0000。</p>
                        </div>
                    </div>
                </form>
                <!-- 充值end -->
            </div>
        </div>
    </div>
</div>
<!--页中end-->

<!--遮罩层-->
<div class="dialog-overlay" id="dialog-overlay" style="display:none;"></div>

<!--支付start-->
<div class="layer-body failureSuccess failurePayment" id="failurePayment"
     style="display:none;width:500px;height:380px;top:65%;">
    <a class="layer-close" th:href="@{/loan/page/toRecharge}"></a>
    <div class="layer-top" style="background:#3cbe9b;height:105px;">支付</div>
    <div class="layerBottom">
        <div class="txt-cnt">请在新打开的页面上完成支付，<br/>由于第三方支付渠道问题，所以偶尔存在到账延迟的情况<br/>如没有及时到账，请您等候几分钟或联系客服 400-880-0000。</div>
        <div class="failureClose clearfix">
            <a class="fl" th:href="@{/loan/page/toRecharge}">支付遇到问题<br/>重新支付</a>
            <a class="fr" th:href="@{/loan/page/myRecharge}">支付完成</a>
        </div>
    </div>
</div>
<!--支付end-->

<!--页脚start-->
<div th:include="commons/footer :: html"></div>
<!--页脚end-->
</body>
</html>