<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="content-type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="动力金融网，投资理财，P2P理财，互联网金融，投资理财，理财，网络贷款，个人贷款，小额贷款，网络投融资平台, 网络理财, 固定收益, 100%本息保障" name="keywords"/>
    <meta content="动力金融网-专业的互联网金融平台！预期年化收益可高达13%，第三方资金托管，屡获大奖。" name="description"/>
    <title>动力金融网-专业的互联网金融公司</title>
    <link rel="stylesheet" th:href="@{/css/center.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/fund-guanli.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/base.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/security.css}" type="text/css"/>
    <script language="javascript" th:src="@{/js/jquery-1.7.2.min.js}" type="text/javascript"></script>
    <script language="javascript" th:src="@{/js/trafficStatistics.js}" type="text/javascript"></script>
</head>

<body>
<!--页头start-->
<div id="header">
    <div th:include="commons/header :: html"></div>
</div>
<!--页头end-->

<!-- 二级导航栏start -->
<div th:include="commons/subNav :: html"></div>
<!-- 二级导航栏end -->

<!--页中start-->
<div class="mainBox">
    <div class="homeWap">
        <div class="fund-guanli clearfix">
            <div class="left-nav">
                <div th:include="commons/leftNav :: html"></div>
            </div>

            <div class="right-body">
                <div class="leftTitle"><span class="on">第三方支付平台</span></div>

                <div class="unrecognized" id="unrecognized1" style="display:block;">
                    <h3 th:text="${trade_msg}">显示错误信息</h3>
                    <a class="input_btn" th:href="@{/loan/page/recharge}">继续充值</a>
                </div>

            </div>
        </div>
    </div>
</div>
<!--页中end-->

<!--页脚start-->
<div th:include="commons/footer :: html"></div>
<!--页脚end-->
</body>
</html>