<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript">

    //我要投资下拉
    $(function () {
        $(".headBody .main-nav li:eq(1)").hover(function () {
            $(this).children(".menu-drop").stop(false, true).fadeIn();
        }, function () {
            $(this).children(".menu-drop").stop(false, true).hide();
        });
    });
</script>
<input id="loginFlag" th:value="${session.userAccount == null} ? 0 : 1" type="hidden">
<input id="availableMoney" th:value="${session.availableMoney}" type="hidden">
<!--页头start-->
<a id="top"></a>
<div class="headBody" id="headBody">
    <div class="header">
        <div class="mainBox clearfix">
            <div class="head_l"><span>客服电话：400-8080-105</span><em></em><a class="weibo"
                                                                          href="http://weibo.com/bjpowernode"
                                                                          target="_blank"></a></div>
            <div class="head_r"><a href="javascript:void(0);" id="helpcenter.html">帮助中心</a><em></em><a
                    class="phone_jinxin" href="javascript:void(0);" id="/webPage/invest/phone_jinxin.html"
                    style="margin-right:15px;"><i></i>手机客户端</a>
                <div class="phone-ewm" style="display:none;">
                    <a class="phone_jinxin" href="javascript:void(0)"><i></i>手机客户端</a>
                    <div class="phone-ewm-dropdown">
                        <span><img alt="" th:src="@{/images/phone_jinxin_ewm.png}"></span>
                        <p>下载动力宝APP</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="headCnt clearfix">
        <div class="logo"><a th:href="@{/}"><img th:src="@{/images/logo.jpg}"></a></div>
        <ul class="main-nav">
            <li><h2><a id="jinxin" th:href="@{/}">首页<i></i></a></h2></li><!--current为当前状态-->
            <li>
                <h2><a href="javascript:void(0)" id="wytz">我要投资<i></i></a></h2>
                <div class="menu-drop" style="display:none;">
                    <a th:href="@{/loan/moreLoan(type=1)}">优选类产品</a>
                    <a th:href="@{/loan/moreLoan(type=2)}">散标类产品</a>
                </div>
            </li>
            <li><h2><a class="/loan/borrower" href="javascript:void(0);" id="borrowers">借款人信息<i></i></a></h2></li>
            <li><h2><a class="/webPage/newInfoDisclosure/company-profile.htm" href="javascript:void(0);"
                       id="information">信息披露<i></i></a></h2></li>
            <li><h2><a class="/webPage/index/insurance.html" href="javascript:void(0);" id="insurance">安全计划<i></i></a>
            </h2></li>
        </ul>
        <div class="login-right">
            <!-- 未登录start -->
            <div class="no-login" th:if="${session.userAccount == null}"><a class="btn-reg"
                                                                            th:href="@{/loan/page/register}">注册</a><a
                    class="btn-login" th:href="@{/loan/page/login}">登录</a></div>
            <!-- 未登录end -->

            <!--登录后begin-->

            <div class="logged" th:unless="${session.userAccount == null}">
                <div class="userinfo-up">
                    <a class="user-phone" th:href="@{/user/myCenter}"
                       th:text="${session.userAccount.phone}"></a><a
                        class="user-vip" id="member"
                        th:href="@{|/webPage/account/member_systems/${session.userAccount.id}|}">VIP1</a><i></i>
                </div>
                <div class="userinfo-drop-down" style="height: 0px;">
                    <div class="down-bk">
                        <div class="user-balance">余额：<span id="frame_top" th:text="${session.availableMoney}"></span>元
                        </div>
                        <ul class="quick-entry clearfix">
                            <li class="icon-recharge"><a th:href="@{/loan/page/toRecharge}"><i></i><span>充值</span></a>
                            </li>
                            <li class="icon-invest" style="margin-left:85px;"><a
                                    th:href="@{/loan/moreLoan}"><i></i><span>投资</span></a>
                            </li>
                        </ul>
                        <div class="enter">进入“<a th:href="@{/user/myCenter}">我的小金库</a>”</div>
                        <div class="exit"><a th:href="@{/user/logout}">退出</a></div>
                    </div>
                </div>
            </div>

            <!--登录后end-->
        </div>
    </div>
</div>
<!--页头end-->

<!--二维码弹出层start-->
<div class="ewm_layer" id="ewm" style="display:none;">
    <a class="close" href="javascript:void(0)"></a>
    <div class="ewm_weixin">
        <h3>动力网服务号</h3>
        <h4>更多服务请关注动力网服务号</h4>
        <div class="ewm"><img alt="动力网服务号" th:src="@{/images/ewm_fwh.jpg}"></div>
    </div>
    <div class="ewm_weixin">
        <h3>动力网订阅号</h3>
        <h4>获取动力网最新资讯</h4>
        <div class="ewm"><img alt="动力网订阅号" th:src="@{/images/ewm_dyh.jpg}"></div>
    </div>
</div>
<!-- 二维码弹出层end -->
</html>